name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Install dependencies
        run: bundle install --without default development --jobs 4
      - name: Rubocop
        run: bundle exec rubocop --format progress
      - name: Inch
        run: "ruby -e \"require 'json'; res = JSON.parse('$(bundle exec inch stats --format=json)')['grade_lists']; exit(1) if res['C'].positive? || res['U'].positive?\""

  test:
    needs: [linting]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.4', '2.5', '2.6', '2.7' ]
        gemfile:
          - gemfiles/lograge10.gemfile
          - gemfiles/lograge11.gemfile

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: bundle install --gemfile=${{ matrix.gemfile }}  --without linting --jobs 4
      - name: Run tests
        run: bundle exec rake
