name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Install dependencies
        run: bundle install --jobs 4
      - name: Rubocop
        run: bundle exec rubocop --format progress
      - name: Inch
        run: "ruby -e \"require 'json'; res = JSON.parse('$(bundle exec inch stats --format=json)')['grade_lists']; exit(1) if res['C'].positive? || res['U'].positive?\""

  test:
    needs: [linting]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.5', '2.6', '2.7', '3.0', '3.1' ]
        gemfile:
          - gemfiles/rails_5_2.gemfile
          - gemfiles/rails_6_0.gemfile
          - gemfiles/rails_6_1.gemfile
          - gemfiles/rails_7_0.gemfile
        exclude:
          - ruby: '2.5'
            gemfile: gemfiles/rails_7_0.gemfile
          - ruby: '2.6'
            gemfile: gemfiles/rails_7_0.gemfile

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install dependencies
        run: bundle install --gemfile=${{ matrix.gemfile }} --jobs 4
      - name: Run tests
        run: bundle exec rake
